.gradle
/gradle.properties
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/gradle.xml
.DS_Store
/build
/app/app.iml
/app/src/main/obj/local
/app/src/main/libs/*
.svn/
*.class
Thumbs.db
*.o
*.o.d
*.so
*.a
*~
.#*
